body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    margin: 0 0 10pt 0;
}

h2 {
    font-size: 20pt;
    font-weight: 900;
    color: rgb(80, 80, 80);
    margin: 10pt 0;
}


h3 {
    text-align: center;
    font-size: 15pt;
    font-weight: 900;
    color: rgb(14, 0, 207);
    margin: 10pt 0;
}


.deseng {
    text-align: center;
    font-weight: bolder;
    font-size: 1em;
    color: rgb(14, 0, 207);
    padding: 20pt 0 0 0;
    font-size: 15pt;
}

.summary {
    font-size: 10pt;
    grid-column-start: 1;
    text-align: justify;
    /* padding: 0 10px; */
    /* background-color: green; */
}

.chart-zoom{
    text-align: center;
    font-size: 12pt;
    font-weight: 900;
    color: #e90101;
}


.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

